<div style="height:50px"></div>
<h2>Demo Type: <%= @demo_type %></h2>
<h2>Source = <%= @src %></h2>

<h3>Graph Nodes</h3>
<% node_print = "" %>
<% @g.get_nodes().each do |node| %>
	<% node_print += node.get_name() + ", " %>
<% end %>
<h4><%= node_print %></h4>

<h3>Graph Edges</h3>
<% edge_print = "" %>
<% @g.get_edges().each do |edge| %>
	<% edge_print += edge.edge_to_s + ", " %>
<% end %>
<h4><%= edge_print %></h4>
