:css
  #container {background-image: url('/images/game/welcome_background.png');}

#article_container
  %p.title
    Controlling Concepts for Causling Islands:
    %br <i>The Samaki</i>
  %p 
    The story in this article describes the controlling concepts of the Causling Islands. Use it to build the most stable bridges for the Causlings to cross!
    %strong You can view this story at any time while playing the game by clicking the 'About the Samaki' button.

  %br
  %p 
    %strong
      Samaki
    , a larger cousin of the herring, may be the most important fish you've never heard of. No one eats samaki directly. They are oily fish filled with tiny bones. However, they still find their way to our dinner tables through indirect routes.
  %p
    First, they provide an ecological link between microscopic plankton and large predatory fish. In other words, they eat the plankton and, in turn, become an important source of fat-rich, high- nutrient food for many large, high- valued fish, including bass, cod, swordfish, bluefish, and tuna.
  %p
    Second, they are ground up, dried, and used to make feed for poultry, pigs, beef, and farmed fish, providing an important source of protein for these farm-raised animals as well.
  %p
    Recently, a third path has been added. The American Heart Association's declaration in November 2002 that people should consume Omega-3 fatty acids to prevent heart disease has led to an increase in the use of these oils as food supplements for humans as well.
  %p
    The usefulness of samaki in animal feed and food supplements has made catching samaki big business. Literally millions of pounds of samaki are caught every year for industrial use. In fact, samaki has become so useful to industry that some suggest this once abundant fish is in danger of being overfished.
  %p
    For example, analyst Carl Kingsolver explains that leaders in the samaki industry have experienced decreased profits and even losses over the past decade. He suggests that this is one sign that the samaki population has been significantly reduced.
  %p
    However, Donestre & Sons, the largest supplier of samaki-based fish meal and fish oil products in the United States and a major competitor in the world market suggests that the North American samaki population is doing fine. They explain that the reduced profits were due to factors that were not related to the health of the fishery.
  %p
    First, prices of their products are highly affected by the amount of fish caught by their international competitors, primarily from South America. High catch levels in South America lower the price of Donestre & Sons' products.
  %p
    Second, Donestre & Sons must compete with alternative products. For example, unusually low prices in soybeans and vegetable oil from 1999 to 2001 lowered Donestre & Sons' sales for those years. Donestre officials point out that the availability of these competing products drove down the price of their own products. The result was a decrease in their profits.
  %p
    Of course low catches have added to Donestre & Sons' problems, but company officials explain that these low catches are due to bad weather, rather than to decreases in the samaki population itself. For example, an unusually severe September hurricane season in the Gulf of Mexico in 2000 held back fishing activities and resulted in fewer fish caught.
  %p
    Lou Robbins, Donestre's Director of Fishing Operations, points out that their international competitors face similar difficulties. In 1992 El Nino events disrupted operations of South American fish suppliers, resulting in higher prices internationally.
  %p
    Moreover, explains Gregory Murdock, Donestre's Director of Investor Relations, from 2002 until the present, Donestre and Sons has reported net profits every year.
  %p
    Murdock attributes this recent success to an international increase in aquaculture (fish farming). Soy meal can be used as a substitute for fishmeal in feed for pigs, poultry, and cattle, but farm-raised fish require the protein of fish oils. Therefore, an increase in demand from aquaculture will mean more profits for Donestre & Sons rather than soy meal providers.
  %p
    A second factor in Donestre's recent success is the increased demand for Omega-3 fatty acid dietary supplements. The American Heart Association announced in November 2002 that people should consume Omega-3 fatty acids to reduce the chance of heart disease. This announcement resulted in a large increase in demand by health- minded consumers.
  %p
    As a result of these trends, the price of samaki has increased greatly, allowing Donestre & Sons to earn high profits despite lower than expected fish catch for 2003 and 2004.
  %p
    But despite Donestre & Sons' claims, many people outside the fish-meal industry are concerned about possible decreases in the samaki population, because samaki are also important ecologically. Samaki are an important source of food for larger fish, birds, and marine mammals.
  %p
    For example, many fishermen suggest that smaller samaki populations have resulted in smaller populations of the highly prized commercial fish that feed on samaki. Even in cases where commercial fish numbers are still high, some people suggest that a lack of samaki has resulted in fish with smaller weight to length ratios. These "skinny" fish are believed to be less hardy due to malnutrition. Scientists have also linked decreases in samaki populations in Gardner's Bay to declines in the osprey population on Gardner's Island, near the eastern tip of Long Island, New York.
  %p
    In addition to being an important source of food, samaki are filter feeders that help control algal growth in coastal waters.           Adults can be seen swimming in tightly packed groups with their mouths open, filtering out algae species that many other fish won't eat.
  %p
    Some people place great importance in the samakis' feeding habits. For example, declines in samaki populations have been linked to algal blooms along coastal waters. That's where the algae grows so thick that it kills everything else in the area, producing what's called "dead zones. In this sense, samaki not only provide a food source for valuable fish species, but also make the coastal waters a better place for fish to live.
  %p
    Because of the ecological importance of samaki, some argue that the federal government should pass laws that manage or limit the amount of samaki that can be caught. Others call for incorporating limits to samaki fishing into more strict management of the coastal ecosystems as a whole. Companies like Donestre & Sons have said they would oppose such laws.
  %p
    Fishermen will tell you that their industry offers very little certainty. But perhaps one thing is definite: the health and management of the samaki fishery will be hotly debated over the coming years.
    
  %br

%a{:href => "/game/play"}
  %img#welcome_button{:alt => "", :src => "/images/game/welcome_button.png"}/
  %p#welcome_button_label Learn more!
  %small Description from Plate 2006.
