%h3 Evaluating the Causal Understanding Game

%p
  %b Lead Researcher 
  %br Joel Ross, Ph.D. Candidate
  Informatics Department, UC Irvine
  %br jwross@uci.edu

%div{:style=>"text-align:left"}
  %p You are being asked to participate in a research study to test a game for measuring causal understanding. This research involves playing an online computer game in which you will create a causal map, allowing your virtual creatures to grow and thrive. You will also be given a brief survey asking about your experiences playing the game. The entire activity should last around 90 minutes. There are no direct benefits from participation in this study, though it is intended to be an enjoyable experience. This study can help develop new methods for assessing human understanding of complex systems, which can better enable us to develop effective actions and policies for supporting environmental sustainability.

  %p You are eligible to participate in this study if you are fluent in English. There are no risks associated with this study beyond normal computer and social interaction; participation is entirely voluntary, and you may quit at any time with no penalty. 

  %p If you are completing this task as an MTurk HIT, you will receive $7.50 paid to your Mechanical Turk account for your participation in this study. This amount will be paid once we have verified that you played enough to achieve a score of 100 points (payment will be made within 48 hours). You should not accept this HIT unless all your questions have been answered by a member of the research team listed at the top of this form. By accepting this hit, you indicate that you have read the information in this consent form and have had a chance to ask any question you have about this study.

  %p
    %small The research team, authorized UCI personnel, and regulatory entities, may have access to your study records to protect your safety and welfare.  Any information derived from this research project that personally identifies you will not be voluntarily released or disclosed by these entities without your separate consent, except as specifically required by law.If you have any comments, concerns, or questions regarding the conduct of this research please contact the researchers listed at the top of this form. Please contact UCI’s Office of Research by phone, (949) 824-6662, by e-mail at IRB@research.uci.edu or at 5171 California Avenue, Suite 150, Irvine, CA 92617 if you are unable to reach the researchers listed at the top of the form and have general questions; have concerns or complaints about the research; have questions about your rights as a research subject; or have general comments or suggestions.

%br

= button_to "I agree to participate in this research", '/game/research/survey'
