/ LINK TO FORM 
/ https://docs.google.com/spreadsheet/viewform?formkey=dEpmZ3dBWWVuZHJmWTdyYnFqVTVEcWc6MQ

/ this stuff is copy/pasted to avoid the gdoc iframe
/ http://www.morningcopy.com.au/tutorials/how-to-style-google-forms-redux/ has more details on how to make things work potentially...

:plain
  <link href='https://docs.google.com/static/spreadsheets/client/css/779923916-published_form_compiled.css' type='text/css' rel='stylesheet'>
  <style type='text/css'>@media print{@page {size:A5}body{padding:0;background-color:#fff}.ss-form-container{width:100%;border:none}}h2.ss-section-title{background-color:transparent}div.ss-submit div.ss-form-entry{background:none;border:none}</style></head>

  <div class="ss-form-container">
  <div class="ss-form-heading"><h1 class="ss-form-title">Demographic Information</h1>
  <p></p>


  <hr class="ss-email-break" style="display:none;">
  <div class="ss-required-asterisk">* Required</div></div>
  <div class="ss-form"><form action="https://docs.google.com/spreadsheet/formResponse?formkey=dEpmZ3dBWWVuZHJmWTdyYnFqVTVEcWc6MQ&amp;theme=0AX42CRMsmRFbUy03NTAzM2Q4My03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ&amp;ifq" method="POST" id="ss-form">

  <br>
  <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Age
  <span class="ss-required-asterisk">*</span></label>
  <label class="ss-q-help" for="entry_0"></label>
  <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-select"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Gender
  <span class="ss-required-asterisk">*</span></label>
  <label class="ss-q-help" for="entry_1"></label>
  <select name="entry.1.single" id="entry_1"><option value="Male">Male</option> <option value="Female">Female</option></select></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Are you good at using computers?
  <span class="ss-required-asterisk">*</span></label>
  <label class="ss-q-help" for="entry_2"></label>
  <ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="Yes" class="ss-q-radio" id="group_2_1">
  Yes</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="I&#39;m okay I guess" class="ss-q-radio" id="group_2_2">
  I&#39;m okay I guess</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="No" class="ss-q-radio" id="group_2_3">
  No</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="I never use them" class="ss-q-radio" id="group_2_4">
  I never use them</label></li>
  </ul></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_3">Do you play computer games or video games?
  <span class="ss-required-asterisk">*</span></label>
  <label class="ss-q-help" for="entry_3"></label>
  <ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.3.group" value="Yes, I play them all the time" class="ss-q-radio" id="group_3_1">
  Yes, I play them all the time</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.3.group" value="Yes, I play them sometimes" class="ss-q-radio" id="group_3_2">
  Yes, I play them sometimes</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.3.group" value="I rarely play them" class="ss-q-radio" id="group_3_3">
  I rarely play them</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.3.group" value="No, I never play them" class="ss-q-radio" id="group_3_4">
  No, I never play them</label></li>
  </ul></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Compared to other people you know, how important is the environment and environmental issues to you (e.g., pollution, climate change)?
  <span class="ss-required-asterisk">*</span></label>
  <label class="ss-q-help" for="entry_4"></label>
  <ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.4.group" value="I care about the environment much more than other people." class="ss-q-radio" id="group_4_1">
  I care about the environment much more than other people.</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.4.group" value="I care about the environment a little more than other people." class="ss-q-radio" id="group_4_2">
  I care about the environment a little more than other people.</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.4.group" value="I care about the environment about the same as other people" class="ss-q-radio" id="group_4_3">
  I care about the environment about the same as other people</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.4.group" value="I care about the environment a little less than other people" class="ss-q-radio" id="group_4_4">
  I care about the environment a little less than other people</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.4.group" value="I care about the environment a lot less than other people" class="ss-q-radio" id="group_4_5">
  I care about the environment a lot less than other people</label></li>
  </ul></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item  ss-text" style="display:none;"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">user_Id
  </label>
  <label class="ss-q-help" for="entry_5"></label>
  <input type="text" name="entry.5.single" value="" class="ss-q-short" id="entry_5"></div></div></div>
  <br>
  <input type="hidden" name="pageNumber" value="0">
  <input type="hidden" name="backupCache" value="">


  <div class="ss-item ss-navigate"><div class="ss-form-entry">
  <input type="submit" name="submit" value="Submit"></div></div></form>


/ %div
/   %iframe{:src=>"https://docs.google.com/spreadsheet/embeddedform?formkey=dEpmZ3dBWWVuZHJmWTdyYnFqVTVEcWc6MQ", :width=>760, :height=>841, :frameborder=>0, :marginheight=>0, :marginwidth=>0}
/     Loading...