%h3 Thank you for playing <i>Causlings</i>!

%div{:style=>"text-align:left"}
  %p Your evaluation has been recorded. We appreciate your participation!

  %p 
    Your player id is 
    %strong #{@game_user}
  %p If you are evaluating the game as part of a Mechanical Turk HIT, please enter this id into the MTurk system to complete the task.

  
  
