
:css
  #container {background-image: url('/images/game/welcome_background.png');}

%body
  #welcome_title_container
    #welcome_image
      %img{:src => "/images/game/welcome_title.png"}/
    #welcome_story
      %p
        The whole population of Causlings is in dire need of your help!
      %p
        "What exactly is a Causling?", I hear you ask? Well they're tiny island-dwelling creatures who dream of visiting every island in the Sea! And as no Causling ever learned how to swim, they need you to build them bridges from island to island.
      %p
        The Causlings begin at the fabled Causling Capital, and will happily try to cross any bridge you make for them. But each bridge can only support a few crossers at a time, so you'll want to make as many bridges as you can. When a Causling reaches a new island, it will build a new Causling settlement and quickly raise more young Causlings. Predictably, these young'uns will also want to start exploring, and so will soon leave home to visit other islands across the bridges you've made. But you'll need to act fast: Causlings can be impatient, and may try and swim if there aren't any bridges open for them to cross (and we all know that swimming does not end well for them!)
      %p
        Sound easy enough? Well of course there's a catch. Problem is, Causlings are impeccably logical creatures, and so they can only travel across CAUSAL BRIDGES--otherwise they are hit with overwhelming vertigo and tend to fall into the sea. "Causal bridges?, you ask with growing trepidation? See, each island in the Sea has a strong controlling concept, and the only bridges that are stable enough for the Causlings to cross are those that match a cause-and-effect relationship between the islands' concepts.
    #welcome_button
      %a{:href => "/game/howtoplay"}
        %img.welcome_button{:alt => "", :src => "/images/game/welcome_button.png"}/
        #welcome_button_label 
          %p
            Tell me more...

