:css
  #container {background-color: #9dcec5}
  
#full
  #welcome_container
    %img#causlings_title{:alt => "", :src => "/images/game/Causlings.png"}
    #welcome_text_container
      %p.welcome_text
        The whole population of Causlings is in dire need of your help! What is a Causling, I hear you ask? They're tiny island-dwelling creatures who dream of visiting every island in the sea! Problem is, Causlings are totally incapable of swimming. So they need you to build them bridges from island to island.
      %p.welcome_text
        Every island the Causlings wish to explore has a 
        %strong controlling concept
        that defines that island.
        And because Causlings are impeccably logical creatures, they are only able to travel across
        %strong causal bridges
        that match a true
        %strong cause-and-effect relationship between islands.
        If the bridge does not match a true causal relationship, the Causlings get lost and fall right off! 
        %br
      %p.welcome_text
        The Causlings need your help to reach the islands of the sea they've dreamed of visiting for so long! Are you ready to make a whole population of Causling's dreams come true?
    %a#lets_go_button{:href => "/game/article"}
      Learn about the Causlings' islands!
