#full
  #welcome_container
    %a{:href => "#"}
      %img#causlings_title{:alt => "", :src => "/images/game/Causlings.png"}/
    %p#welcome_text
      The whole population of Causlings is in dire need of your help! What the Jumping-Jiminy-Jamboree is a Causling, you ask? They're tiny island dwelling creatures who dream of visiting every island in the sea! Every island has a controlling concept each Causling wishes to explore. Problem is, none of them can swim! So they need you to build them bridges from island to island. Not just any bridges though! Causlings can only travel across
      %strong causal bridges
      that match
      %strong the cause-and-effect relationship between islands
      If the bridge does not match
      %strong a true causal relationship
      the Causlings may get lost and fall right off! They need your help to reach the corners of the sea they've dreamed of visiting for so long! Ready to make a whole population of Causling's dreams come true?
    %a#lets_go_button{:href => "/game/article"}
      Let's go!
