- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"
  
- content_for(:title, 'Causality Project: Issues')
= javascript_include_tag "issue_index.js"

#contentwrapper

  .contentmain
            
    %div{:id=>"issues"}
      = render 'issues'

        
#clear{:style => "clear:left;"}
   
