- content_for(:include_custom_stylesheet) do
	= stylesheet_link_tag "styles"

#contentwrapper
	.contentmain
		%div{:style=>"color: #434343;font-size: 18px;text-align: center;"}
			Revision history for:
			%b				
				= link_to @issue.title, issue_path(@issue), :class=>"logo_txt", :style=>"text-decoration:none;text-shadow:none"

		%div{:id=>"versions"}
			= render "versions"
		%div{:id=>"more", :style=>"margin-top:10px; padding:5px 10px; border:1px solid #f5f5f5; font-size:18px; text-align:center; font-weight:bold;", :title=>"More contributions"} Load more
		%div{:id=>"wait_for_more", :align=>"center"}
		
.clearboth

%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", :type => "text/javascript"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js", :type => "text/javascript"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js", :type => "text/javascript"}
%script{:type => "text/javascript"}

	$(document).ready(function(){
	
	$("div#more").click(function(){
	$("div#more").hide();
	$("#wait_for_more").html('<img src="/images/system/spinner.gif" style="margin-top:10px;" height=30/>');
	
	var lastId = parseInt($("div#data").filter(":last").attr("more"));

	$.ajax({url: document.location.href, data: {more: parseInt($("div#data").filter(":last").attr("more"))},success: function(data){

	$("#wait_for_more").empty();
	if (lastId >= parseInt($("div#data").filter(":last").attr("more"))){
	$("div#more").show();
	}
	}});

	return false;
	});
	});
