- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"
  
- content_for(:title, 'Causality Project: Relationships')
= javascript_include_tag "rel_index.js"

#contentwrapper

  .contentmain
            
    %div{:id=>"relationships"}
      = render "relationships"

#clear{:style => "clear:left;"}

#confirm_popup
  .formheading#confirm_title{:style=>"text-align:left;color:#434343;padding-top:0px;"}
  .formcontentdiv
    #confirm_wait{:style=>"margin:-42px 0px 0px 0px;float:right;"}  
    #confirm_msg
    #confirm_buttons{:style=>"margin-top:10px; text-align:center"}
      %input#confirm_yes{:type => "button", :value => "Delete", :class=>"discussion_submit", :style=>"float:none;"}
      %input#confirm_cancel{:type => "button", :value => "Cancel", :class=>"discussion_submit", :style=>"float:none;"}
