/* Shadows */
.outside_shadow {
  -moz-box-shadow:    2px 2px 4px 4px #ccc;
  -webkit-box-shadow: 2px 2px 4px 4px #ccc;
  box-shadow:         2px 2px 4px 4px #ccc;
}

.inner_shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

div#contentwrapper{
  background-image: url('/images/game/wood_1.png');
	margin-top:10px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: visible;
  -moz-box-shadow:    2px 2px 4px 4px #ccc;
  -webkit-box-shadow: 2px 2px 4px 4px #ccc;
  box-shadow:         2px 2px 4px 4px #ccc;
}

div#canvas_container{
  background-color:#119dc5;
/*  background-color:#9abfc3; */
  -moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;
}

div#game_box{
  width: auto;
  height: auto;
  float: center;
}

#button_bar{
  margin-top: 0px;
}

#title_game{
  float: left;
  font-family:sans-serif;
  color: gray;
  font-size: xx-large;
}

#go_buttons {
	float: right;
}

button{
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  width: 140px;
  height: 50px;
  background-image: url("/images/game/wood_3.png");
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
  cursor: pointer;
	margin-right:8px;
	float:left;
}

button:hover{
/*  background-color:rgba(255,255,255,1);*/  
	-moz-box-shadow:    0px 1px 6px rgba(0,0,0,1);
	-webkit-box-shadow:	0px 1px 6px rgba(0,0,0,1); 
	box-shadow:					0px 1px 6px rgba(0,0,0,1);
}

button[disabled]{
	opacity: 0.5;
}

button[disabled]:hover{
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
}


#progress_container{
	width: 100px;
	margin-left: -60px;
	background:transparent;
}

#score_notice {
	font: normal 16px "lucida grande",tahoma,verdana,arial,sans-serif;
	display:none;
	width:300px;
	height:125px;
	text-align:center;
	color: #ffffff;
	background-color:#434343;
	padding:10px 5px;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* Positioning */
	position: fixed; 
	z-index:2;
	top: 23px; 
	left: 50%;
	margin-left: -140px;
	/* shadows */
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border:1px solid #4DB8DB;
}

#score_content {
}

.scoreboard {
	margin-left:auto;
	margin-right:auto;
	color: #ffffff;
	border:0px;
}

.scoreboard .item{
	text-align:right;
}
.scoreboard .score{
	text-align:center;
	padding-left:20px;
	font-style: italic;
	padding-right:20px;
}

.ui-tooltip-causling .ui-tooltip-content{
	background: #f5e7c5;
	border-color: #f5e7c5;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #000;
/*	text-transform:uppercase;
*/	font-weight:bold;
/*	font-style: italic;*/
}

.node-tip .ui-tooltip-content{
	font-size:13px;
	text-transform:uppercase;
}

.edge-tip .ui-tooltip-content{
	font-size:10px;
/*	text-transform:uppercase;*/	
}

.house-tip .ui-tooltip-content{
	text-align:center;
}

.help-tip .ui-tooltip-content{
	font-size:10px;
	font-style: italic;
}

.instruction-tip {max-width:none;}
.instruction-tip .ui-tooltip-content{
	font-size:14px;
	text-transform:uppercase;	
	border-width: 3px;
	max-width:none;
	text-align:center;
}

.confirm-tip {max-width:none;}
.confirm-tip .ui-tooltip-content{
	font-size:14px;
	text-transform:uppercase;	
	border-width: 0px;
	padding-top:5px;
	padding-bottom:0px;
	vertical-align:sub;
}

.confirm {
	color:#175714;
	background-color:#fefbec;
	float:right;
	padding:5px;
	margin-top:-5px;
	margin-left:5px;
	margin-right:-10px;
	cursor:pointer;
	font-weight:bold;

}
.confirm:hover{
	color:#093907;
}

/* old qtip styling */
#relation_qtip {
	width:200px;
}

#relation_qtip .selector_container {
	float:left;
	width: 40px;
}

#relation_qtip .descr_container {
	text-decoration:none;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
}

.edge_title {
	text-decoration:none;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
}


/*INSTRUCTIONS*/

a {
	text-decoration: none;
}

#instructionscontainer {
	position: relative;
	margin: 0px auto 0;
	width: 770px;
	height: 410px;
	background-color: rgb(247, 248, 246);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
	opacity: 1;
}

.figurebox {
	position: absolute;
	width: 230px;
	height: 273px;
	border: 1px solid #474747;
	margin-top: 42px;
	padding-top: 40px;
}

#one {
	left: 20px
}

#two {
	left: 270px;
}

#three {
	left: 520px;
}

#instructionstitle {
	position: absolute;
	font-family: "Helvetica";
	font-size: 14px;
	font-weight: 700;
	left: 20px;
	top: 2px;
	letter-spacing: 4px;
}

#figure1text {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	line-height: 18px;
	font-weight: 500;
	left: 40px;
	top: 42px;
}

#figure2text {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	line-height: 18px;
	font-weight: 500;
	left: 290px;
	top: 42px;
}

#figure3text {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	line-height: 18px;
	font-weight: 500;
	left: 540px;
	top: 42px;
}

#figure1box {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	top: 344px;
	left: 20px;
	border: 1px solid #333;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 30px;
}

#figure2box {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	top: 344px;
	left: 270px;
	border: 1px solid #333;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 30px;
}

#figure3box {
	position: absolute;
	font-family: "Helvetica";
	font-size: 12px;
	width: 200px;
	top: 344px;
	left: 520px;
	border: 1px solid #333;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 30px;
}


/*WELCOME PAGE*/


#welcome_title_container {
	width: 900px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	margin-bottom: 200px;
	padding-top: 40px;
	font-family: "Helvetica";
	font-size: 14px;
	line-height: 22px;
}

#welcome_image{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 500px;
	height: 73px;
	
}

#welcome_story {
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.46);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.46);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.46);
	text-align: left;
}

#welcome_button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 194px;
	height: 59px;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.46);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.46);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.46);
}

#welcome_button_label {
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	width: 194px;
	text-align: center;
	text-decoration: none;
	color: black;
	font: bold 16px "Helvetica";
	-webkit-transition: color .2s ease-in-out 0s;
	-o-transition: color .2s ease-in-out 0s;
	-moz-transition: color .2s ease-in-out 0s;
	
}

#welcome_button_label:hover {
	color: white;
}

#how_to_play_header {
	width: 900px;
	height: 50px;
	background-color: gray;
	color: white;
	margin: 0 auto;
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 24px;
	padding-top: 20px;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.46);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.46);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.46);
}

#how_to_play_header_text {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

#how_to_play_body {
	margin-top: 20px;
	width: 800px;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	font-size: 14px;
	font-family: "Helvetica";
	line-height: 20px;
	-webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.46);
	-moz-box-shadow:    0px 3px 8px rgba(0, 0, 0, 0.46);
	box-shadow:         0px 3px 8px rgba(0, 0, 0, 0.46);
}

#causlings_photo {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}


