#relation_qtip {
	width:200px;
}

#relation_qtip .selector_container {
/*	border: 1px solid red; */	
	float:left;
	width: 40px;
}

#relation_qtip .descr_container {
/*	border: 1px solid green;*/
	text-decoration:none;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
/*	text-shadow:0 0px 1px rgba(0,0,0,0.2);*/	
	color: #434343;
}

#selector_canvas {
}

.edge_title {
	text-decoration:none;
	font:normal 10px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
}

.house_descr {
	text-decoration:none;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
}

#go_buttons {
/*	position:absolute;
	top: 15px;*/
}

#progress_container{
	width: 100px;
	margin-left: -60px;
	background:transparent;
}

#score_notice {
	font: normal 16px "lucida grande",tahoma,verdana,arial,sans-serif;
	display:none;
	width:280px;
	height:100px;
	text-align:center;
	color: #ffffff;
	background-color:#434343;
	padding:10px 5px;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* Positioning */
	position: fixed; 
	z-index:2;
	top: 3px; 
	left: 50%;
	margin-left: -140px;
	/* shadows */
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border:1px solid #4DB8DB;
}

#score_content {
}

.scoreboard {
	margin-left:auto;
	margin-right:auto;
	color: #ffffff;
	border:0px;
}

.scoreboard .item{
	text-align:right;
}
.scoreboard .score{
	text-align:center;
	padding-left:20px;
	font-style: italic;
	padding-right:20px;
}

/**************************
 * INTRO AND INSTRUCTIONS *
 **************************/

 #welcome_container {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	background-color: #9dcec5;
}

#welcome_text {
	background-color: rgb(250, 248, 229);
	color: rgb(115,133,140);
	font-family: sans-serif;
	font-size: 1 em;
	line-height: 2em;
	padding: 20px;
}

#welcome_button {
	margin-left: auto;
	margin-right:auto;
	width: 196px;
	left: 402px;
}

#causlings_title {
	margin-top: 40px;
}
#article {
	background-color: rgb(250, 248, 229);
}

#article p {
	width: 840px;
	margin: 0 auto;
	background-color: rgb(250, 248, 229);
	color: rgb(115,133,140);
	font-family: sans-serif;
	font-size: 1 em;
	line-height: 2em;
	text-align: left;
}

#article .title {
	text-align: center;
	font-weight: bold;
}

#article .button {
	left: 322px;
	position: relative;
}