#relation_qtip {
	width:200px;
}

#relation_qtip .selector_container {
/*	border: 1px solid red; */	
	float:left;
	width: 40px;
}

#relation_qtip .descr_container {
/*	border: 1px solid green;*/
	text-decoration:none;
	font:normal 12px "lucida grande",tahoma,verdana,arial,sans-serif; 
/*	text-shadow:0 0px 1px rgba(0,0,0,0.2);*/	
	color: #434343;
}

#selector_canvas {
}

.edge_title {
	text-decoration:none;
	font:normal 10px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
}

#go_buttons {
	position:absolute;
	top: 15px;
}

#progress_container{
	width: 100px;
	margin-left: -60px;
	background:transparent;
}

#score_notice {
	font: normal 18px "lucida grande",tahoma,verdana,arial,sans-serif;
	display:none;
	width:250px;
	height:25px;
	text-align:center;
	color: #ffffff;
	background-color:#434343;
	padding:10px 5px;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* Positioning */
	position: fixed; 
	z-index:2;
	top: 3px; 
	left: 50%;
	margin-left: -110px;
	/* shadows */
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border:1px solid #4DB8DB;
}

#score_content {
}