/* CSS Document */
.howdydo-style {
	background: #4a4038;
  background-image: url("/images/game/wood_3.png");
	border-bottom: 2px solid #2a231c;
	font: bold 16px "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #fff;
	text-align: center;
/*	text-shadow: 0 1px #fff, 0 -1px #CCC;*/
}

.howdydo-style a{
	text-decoration:none;
	color: #fff;
}

.howdydo-style a:hover{
	text-decoration:underline;
}

#howdydo-wrapper {
	overflow: visible;
	padding: 0;
	width: 100%;
	z-index: 9999;
}
.howdydo-box {
	display: none;
	padding: 10px 0;
	width: 100%;
}
#howdydo-close {
	position: absolute;
/*	float: right; 
	margin: 0 30px 0 0; */
	bottom: 10px;
	right: 30px;
}
#howdydo-open {
	padding: 10px;
	padding-bottom:5px;
	position: absolute;
	right: 15px;
	top: 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
}
.howdydo-hover { position: absolute; top: 0;  left: 0; }
.howdydo-scroll { position: fixed; top: 0;  left: 0; }
.howdydo-push {	position: relative; clear: both; float: left; margin-bottom: 1px; }