#vis_container {
	margin-top:10px;
	margin-left:auto;
	margin-right:auto
}

#canvas_container {
  border: 1px solid #bebebe;
  padding:0px;
}

#spinner {
  position: relative;
  z-index:1;
  margin-bottom:-64px;
}

.absolute_position {
  position:absolute;
}

#modal_container {
  /* popup window with things inside it */
  display:none; /*to start*/
  position: relative;
  width:400px;
  height:150px;
}

#modal_fill {
  background-color: #FCFCFC;
  padding: 0px;
  width:400px;
  height:150px;
  overflow:auto;
  clear:both;
  border: 1px solid #2F2F2F;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.up_pointer_arrow {
  display:none; /*hide by default*/
  clear:both;
	width: 0px;
	height: 0;
	float:right;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #2f2f2f;
}

.down_pointer_arrow {
  display:none; /*hide by default*/
  clear:both;
	width: 0px;
	height: 0;
	float:right;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #2f2f2f;
}

#issue_modal {}

#issue_modal .formcontentdiv { /*overwrite base form*/
  border:0px; 
  padding: 5px 10px;
	font-size: 12px;
}

#relation_modal {}

#relation_modal .rationale_container {
  margin:0px;
  padding:0px;
}

#relation_modal .rationale_headers {
  /* adapted from .formheading */
  padding:0px 0px 0px 0px;
	margin:0px;
	margin-top:-1px;
	width:auto;
	background-color:#FFFFFF;
	font:bold 16px "lucida grande",tahoma,verdana,arial,sans-serif; 
	color: #434343;
	text-decoration:none;
	text-shadow:0 0px 1px rgba(0,0,0,0.2);
}

#relation_modal .relation_descr {
  border:0px;
  margin:0px;
  width:auto;
  font-size:12px;
}

#interact_form {
  display: none;
}


.modal_linkout {
	background-image:url('/images/system/linkout_issue.png'), -webkit-gradient(linear, left bottom, left top, from(#2f2f2f), to(#434343)); 
	background-image:url('/images/system/linkout_issue.png'), -moz-linear-gradient(center bottom, #2f2f2f 0%, #434343 100%);
	background-repeat:no-repeat;
	background-position:center center;
	float: right;
	margin: 0px;
	width:24px;
	height:24px;
	cursor:pointer;
	border-top: 2px groove #6a6a6a;
	border-left: 2px groove #6a6a6a;
	border-bottom: 2px ridge #2f2f2f;
	border-right: 2px ridge #2f2f2f;
	-moz-border-right-colors: #000 #2f2f2f;
	-moz-border-left-colors: #000 #6a6a6a;
	-moz-border-top-colors: #000 #6a6a6a;
	-moz-border-bottom-colors: #000 #2f2f2f;
/*	width:20px; height:20px; padding:3px; position:relative;z-index:1;float:right;margin:-33px 4px -33px 0px;
	background-image:url('/images/system/close1.png'), -webkit-gradient(linear, left bottom, left top, from(#2f2f2f), to(#434343)); 
	background-image:url('/images/system/close1.png'), -moz-linear-gradient(center bottom, #2f2f2f 0%, #434343 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#2f2f2f), to(#434343));
	background: -moz-linear-gradient(center bottom, #2f2f2f 0%, #434343 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#434343, endColorstr=#2f2f2f);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#2f2f2f')";
*/	/* Shadows */
/*	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border-top: 2px groove #6a6a6a;
	border-left: 2px groove #6a6a6a;
	border-bottom: 2px ridge #2f2f2f;
	border-right: 2px ridge #2f2f2f;
	-moz-border-right-colors: #000 #2f2f2f;
	-moz-border-left-colors: #000 #6a6a6a;
	-moz-border-top-colors: #000 #6a6a6a;
	-moz-border-bottom-colors: #000 #2f2f2f;			
	display:none;
	opacity: 0.9;*/
}

/*** 
 *** LAYOUT BUTTONS 
 ***/
 
#reset_form {
  width: 300px;
}

#inputs {
  width: 200px; 
  float: left;
}

#reset {
  width: 90px; 
  height: 45px;
  float: right;
}

#other_buttons {
  clear: both;
}