- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "styles"
  
- content_for(:title, 'Unlock Site')
      
#contentwrapper
  
  .contentmain
    
    .formheading
      Locked!
    .formcontentdiv{:style=>"color:#434343;"}
      .centralized{:style=>"text-align:center; font-size:36px; font-weight:bold;"}
        The content is Locked!
        %p{:class=>"locked_para"}
          Visit
          %a{:href=>"/lock/login", :title=>"go to login page"}
            this page
          to unlock.  