// The Notice Div
%div{:id=>"notice_container"}
  %div{:id=>"notice"}
    = notice
  %div{:style=>"float:left;width:15px;"}
    .closebutton
      %img{:border =>'0', :src=>'/images/system/close.png', :alt=>'close button', :width=>'15', :height=>'15'}
  .clearboth